
@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    .log {
        display: flex;
        height: 100px;
        width: 165px;
        background-repeat: no-repeat;
        transform: translate(85px,9px)
    }
    .img {
        display: flex;
        height: 100px;
        width: 60px;
        background-image: url('../Content/Image/lock-image.png');
        background-repeat: no-repeat;
        transform: translate(85px,2px)
    }
    .loginname {
        height: 40px;
        padding: 10px 13px 10px 25px;
        font-size: 13px;
        float: left;
        width: 130px;
        color: #fff;
        font-weight: bold;
        background-color: #0a3659;
      
    }

    .admintxtfld-box {
        width: 233px;
        height: 41px;
        float: left;
        padding: 6px 15px 0 0;
        margin: 0px 0px 0 0;
        border:none;
    }
    placeholder {
        padding: 0px 0px 0px 8px;
        margin: 3px 0 0 0;
    }

</style>

<html>
<head>
     <script src="~/Scripts/jquery-3.4.1.min.js"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="~/JavaScrip/LoginPage.js?v=0"></script>
     <title>LoginHere</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h3 style="font-size: 35px; color: #036d9a;"> <b>Admin Panel</b></h3>
            </div>
        </div>
    </nav>

    <div class="row" style="margin-top:120px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-4 img"></div>
                        <div class="col-sm-8"><h3 style="color: #0a3659; text-align: center; margin-top: 20px; font-size: 2.75rem;padding-right:10px ">LOGIN HERE</h3></div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="loginname ">Email Id</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" name="EmailId" id="txtEmailId" class="admintxtfld-box" placeholder="" />
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-sm-3">
                                <label class="loginname ">Password</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="password" name="Password" id="txtPassword" class="admintxtfld-box" placeholder="" />
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary" id="btnsave" style="margin-left:216px">Login </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</body>
</html>

